// you can change colors here
$vp-font: '"Inter","PingFang SC", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"';
$vp-font-heading: '"Inter","PingFang SC", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"';
$vp-font-mono: '"JetBrains Mono", ui-monospace,  SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New","PingFang SC", monospace';
