// you can change colors here
$vp-font: '"Google Sans", "-apple-system", "Nimbus Roman No9 L", "PingFang SC", "Hiragino Sans GB", "Noto Serif SC", "Microsoft Yahei", "WenQuanYi Micro Hei", "ST Heiti", sans-serif';
$vp-font-heading: var(--vp-font);
$vp-font-mono: '"JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", monospace';

// 修改导航栏
$navbar-height: 3.5rem;
$navbar-mobile-height: 3.8rem;

// 把背景改成了深色
$vp-c-bg: (
  dark: #101010,
  light: #ffffff,
);
$vp-c-bg-blur: (
  dark: #10101080,
  light: #ffffff80,
);
$vp-c-bg-alt: (
  dark: #16181c,
  light: #f7fafc,
);
$vp-c-bg-elv: (
  dark: #2020202b,
  light: #edf2f7,
);

// 降低正文字体颜色深度
$vp-c-text: (
  dark: #cccccc,
  light: #272727,
);
// 粗体
$vp-c-text-b: (
  dark: #ffffff,
  light: #000000,
);
